@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {

  .title-lg {   @apply font-serif text-2xl }
  .title-md {  @apply font-serif text-lg   }
  .title-sm {  @apply font-serif text-base }
  .title-xs {  @apply font-serif text-xs }

  /* colours */

  .text-primary {color:var(--primary); }
  .text-secondary {color:var(--secondary); }
  .text-light {color:var(--light); }
  .text-dark {color:var(--dark); }
  .text-bright {color:var(--bright); }


  .bg-primary { background-color: var(--primary); }
  .bg-secondary { background-color: var(--secondary); }
  .bg-light { background-color: var(--light); }
  .bg-dark { background-color: var(--dark); }
  .bg-bright { background-color: var(--bright); }

  .border-primary{ border-color: var(--primary); }
  .border-secondary { border-color: var(--secondary); }
  .border-light { border-color: var(--light); }
  .border-dark { border-color: var(--dark); }
  .border-bright { border-color: var(--bright); }
  }

  /* *{
    border: 1px solid black;
  } */

  @font-face {
    font-family: 'FontName';
    src: url('/fonts/FontName.woff2') format("woff2"), /* WOFF2 tried first */
         url('/fonts/FontName.woff') format("woff"), /* WOFF tried second */
         url('/fonts/FontName.ttf') format("truetype"), /* TTF */ 
         url('/fonts/FontName.eot') format("embedded-opentype"); /* EOT for Internet Explorer */ 
         font-weight: normal;
         font-style: normal;
         -webkit-font-smoothing: antialiased;
         -moz-osx-font-smoothing: grayscale;
  }
  
  
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-body font-normal overflow-x-hidden;
  }
  
  h1, h2, h3, h4, h5, h6 { @apply font-serif font-normal; }

  .svh {
    height: 100vh;
    height: 100svh;
  }

  /* buttons and navs */

  .button    { @apply inline-block px-4 py-2 border border-black transition;  }
  .button:hover { @apply bg-dark }

  .nav-items { @apply flex justify-around items-center uppercase font-normal; }
  .nav-items-col { @apply flex flex-col uppercase }

  /* policy styles */
  .terms p { @apply mb-6 }
  .terms ul { @apply mb-6 }
  .terms li { @apply flex }
  .terms li p { @apply mb-2 }
  .terms h2 {@apply uppercase mb-6 }
  .terms p a {@apply underline underline-offset-2}
  .terms tr { @apply border border-gray-300 }
  .terms td { @apply border border-gray-300 p-5 }
  .terms table { @apply mb-8 }

  .terms ul li {
    list-style-type: none;
    margin-bottom: 0.5rem;
  }

  .terms ul li::before {
    content: '•';
    font-size: 1rem;
    vertical-align: middle;
    padding-right: 0.2rem;
  }
